form {
	max-width: 300px;
	margin: 0 auto;
}

form > div {
	width: 100%;
	margin-bottom: 1em;
}
form > div > label {
	display: block;
	margin-bottom: 0.3em;
}
form > div > input {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 0.4em;
	border-radius: 6px;
	border: 1px solid #333e5a;
}


.Lobby_select {
    font-size: 16px;
    border-radius: 6px;
	width: 100%;
    padding: 0.4em;
}
